<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='DEFAULT')"></head>
<body>
<header th:replace="partials :: header"></header>

    <div class="container">

        <h1>Create an account</h1>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label for="username">Username</label>
            <input id="username" th:field="*{username}" />

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" />

            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" />

            <input value="Sign me up!" type="submit" />
        </form>

    </div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>