html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: rgba(139, 179, 186, 0.88);
    height: 100%;
    width: 100%;
    color: #2f353b;
    /*padding-top: 50px;*/
}

/*STYLING FOR HOMEPAGE IMAGE*/
* {
    margin: 0;
    padding: 0;
}
.background {
    display: grid;
    height: 100%;

}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}



/*POST INDEX PAGE DIV*/
.post-div{
    /*margin-top: 25px;*/
    height: 100vh;
}

/*CATEGORY SIDE SCROLL ON POST PAGE*/
div.scroll-menu {
    overflow: auto;
    white-space: nowrap;
}

div.scroll-menu span {
    display: inline-block;
}