<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
<h3>Welcome to the Dice Game!</h3>
<h5>Guess a number:</h5>
<a href="/roll-dice/1">1</a>
<br>
<a href="/roll-dice/2">2</a>
<br>
<a href="/roll-dice/3">3</a>
<br>
<a href="/roll-dice/4">4</a>
<br>
<a href="/roll-dice/5">5</a>
<br>
<a href="/roll-dice/6">6</a>


<!--<form action="/guess">-->
<!--    <ul>-->
<!--        <li>-->
<!--            <input type="radio" value="1" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">1</label>-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type="radio" value="2" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">2</label>-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type="radio" value="3" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">3</label>-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type="radio" value="4" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">4</label>-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type="radio" value="5" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">5</label>-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type="radio" value="6" name="guess">-->
<!--            <label th:for="${#ids.prev('type')}">6</label>-->
<!--        </li>-->
<!--    </ul>-->
<!--</form>-->

</body>
</html>