<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Login')"></head>
<body>
<header th:replace="partials :: header"></header>
<div class="container-fluid d-flex flex-column align-items-center my-5">
    <h3 class="my-5">Welcome to Magic Hat Blog</h3>
    <form action="/profile" method="post" class="w-25 my-3 d-flex flex-column">
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user" name="user" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-info align-self-center">Login</button>
    </form>
</div>

<footer th:replace="partials :: footer"></footer>

</body>
</html>